body {
    background-image: url(https://preview.redd.it/8qt8f6ckwgm41.jpg?auto=webp&s=11246d3d2834081cedd6b21060d011b5a6e8a721);
    background-size: cover;
    font-family: 'Uncial Antiqua', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    width: 400px;
    background-color: #F5F5DC;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #8b4513;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
  }
  
  button {
    background-color: #8b4513;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #a0522d;
  }
  
  button:active {
    background-color: #61380b;
  }
  
  p {
    text-align: center;
    font-size: 14px;
    color: #8b4513;
  }
  
  a {
    color: #8b4513;
    text-decoration: underline;
  }
  
  a:hover {
    text-decoration: underline;
  }
  