body {
    margin: 0;
    padding: 0;
    background-image: url(https://wallpapers.com/images/featured/0cyh8iq1d71hnwi9.jpg);
  }

  #chat-container {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 400px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  #chat-header {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    background-color: #ccc;
  }

  #chat-header button {
    margin-left: 10px;
  }

  #chat-messages {
    height: 300px;
    padding: 10px;
    overflow-y: scroll;
  }

  #message-input {
    width: 300px;
    padding: 5px;
  }

  #send-button {
    margin-top: 10px;
  }

  .navbar {
    background-color: #8b4513;
    display: flex;
    justify-content: center;
  }

  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .navbar li {
    display: inline;
    margin: 0 10px;
    padding: 0;
  }

  .navbar a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 2.5rem;
  }

  .navbar a:hover {
    text-decoration: white underline;
  }

  .navbar a.active {
    color: white;
  }

  #chat-header h5 {
    margin-right: auto;
    margin-left: 10px;
  }

  